{# This template extends pagelayout.html.twig and just replaces the 'content' block #}
{% extends "CjwCookBookBundle::pagelayout.html.twig" %}

{% block content %}
<h1><em>Hello and good morning {{ name | upper }}!</em></h1>
{% endblock  %}
